extends structure/_layout.pug
block content
	.register-container.flex.flex-col.items-center.w-full
		h2.text-grey-dark.m-4 登记您要出售汽车的信息
		h3.text-orange-dark.text-sm 详细的车况描述将有助于信息更快到达您的潜在客户那里
		select.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(class='focus:text-grey-dark w-2/5 focus:outline-none')
			option 请选择品牌
			option(value='sales') Toyota
			option(value='sales') Honda
		select.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(class='focus:text-grey-dark w-2/5 focus:outline-none')
			option 请选择型号
			option(value='sales') Sienna
			option(value='sales') Camery
		input.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(placeholder='请选择您所在城市' class='focus:text-grey-dark w-2/5 focus:outline-none')
		input.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(placeholder='请输入车龄' class='focus:text-grey-dark w-2/5 focus:outline-none')
		textarea.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(placeholder='请详细描述您的详细车况' class='focus:text-grey-dark w-2/5 focus:outline-none')
		select.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(class='focus:text-grey-dark w-2/5 focus:outline-none')
		a.bg-grey.text-center.mt-6.leading-loose.text-white.rounded-full.w-8.h-8.shadow(href='add.html')
			span.icon-picture
		a.flex.justify-center.bg-green.px-8.items-center.mt-6.h-12.text-white.rounded.shadow.no-underline(href='index.html')
			span.icon-plus.pr-2
			h4 添加
		
			
			