extends structure/_layout.pug
block content
	.car-container.flex.flex-col.items-center.w-full
		.car-card-title.flex.items-center.my-4
			.text-grey-darker.text-2xl.text-center Toyota Sienna2016
		.car-card.flex.items-center.mx-4
			.icon-arrow-left.text-2xl
			.icon-arrow-right.text-2xl
			.car-card-img.mx-4
				.tag.bg-red.rounded-full.px-2.py-1.text-white.text-md.m-2 Hot
				img(src='https://4-photos.motorcar.com/new-2018-toyota-sienna-xleautomaticaccessseatfwd7passenger-11805-17767374-2-640.jpg').shadow.border.border-grey.overflow-scroll.h-60.w-60
		h4.text-grey-dark.text-md.mt-4.mx-12
			| 这里是车型介绍文字.ipsum dolor sit amet consectetur adipisicing elit. Laudantium blanditiis totam deserunt magni ut eum id veniam placeat fugit atque labore aut dolores corrupti, quidem, cum soluta animi rerum. Error.loremipsum dolor sit amet consectetur adipisicing elit. Laudantium blanditiis totam deserunt magni ut eum id veniam placeat fugit atque labore aut dolores corrupti, quidem, cum soluta animi rerum. Error.lorem
		a.flex.justify-center.bg-green.px-8.items-center.mt-6.h-12.text-white.rounded.shadow.no-underline
			span.icon-share-alt.pr-2
			h4 分享
		a.fixed.pin-l.pin-b.m-2.bg-blue.flex.justify-center.items-center.mt-6.leading-loose.text-white.rounded-full.w-16.h-16.shadow(href='index.html')
			span.icon-home