extends structure/_layout.pug
block content
		.index-container.flex.flex-col.justify-center.items-center.w-full
			.search-form.flex.w-full.items-center.justify-center
				input.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg(placeholder='请输入您感兴趣的车型名称,比如sienna' class='focus:text-grey-dark w-2/3 focus:outline-none ')
				button.submit.bg-blue.py-2.px-6.text-white.shadow-lg.h-10.m-2(class='focus:outline-none hover:shadow') 搜索
			.filter-box.mb-1.h-8.w-64.flex.justify-center.items-center
				.filter-tag.bg-orange.text-xs.bg-blue.inline-block.py-1.px-2.shadow.rounded.text-white.m-2 上市时间
				.filter-tag.bg-orange.text-xs.bg-blue.inline-block.py-1.px-2.shadow.rounded.text-white.m-2 价格
				.filter-tag.bg-orange.text-xs.bg-blue.inline-block.py-1.px-2.shadow.rounded.text-white.m-2 车龄
			.top-list.my-4.flex.items-center.text-grey-darker.flex-wrap
				.icon-arrow-left.inline-block(class='sm:invisible md:visible')
				.icon-arrow-right(class='sm:invisible md:visible')
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						.tag.bg-red.rounded.px-1.text-white.text-xs Hot
						img(src='https://4-photos.motorcar.com/new-2018-toyota-sienna-xleautomaticaccessseatfwd7passenger-11805-17767374-2-640.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Toyota Sienna2016
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						.tag.bg-green.rounded.px-1.text-white.text-xs New
						img(src='https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Honda Civic2018
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						//- .tag.bg-green.rounded.px-1.text-white.text-xs New
						img(src='https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Honda Civic2018
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						.tag.bg-green.rounded.px-1.text-white.text-xs New
						img(src='https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Honda Civic2018
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						//- .tag.bg-red.rounded.px-1.text-white.text-xs Hot
						img(src='https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Honda Civic2018
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						//- .tag.bg-green.rounded.px-1.text-white.text-xs New
						img(src='https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Honda Civic2018
				a.car-card.flex.flex-col.items-center.mx-4.no-underline(href='car.html')
					.car-card-img
						.tag.bg-red.rounded.px-1.text-white.text-xs Hot
						img(src='https://www.openroadhonda.com/assets/stock/colormatched_01/white/640/cc_2018hoc020023_01_640/cc_2018hoc020023_01_640_si.jpg').shadow.border.border-grey.overflow-scroll.rounded-full.h-24.w-24
					.car-card-title.h-6.flex.items-center
						.text-grey-darker.text-xs.w-24.text-center Honda Civic2018
			a.flex.justify-center.bg-green.px-8.items-center.mt-6.h-12.text-white.rounded.shadow.no-underline(href='register.html')
				h4 有车出售?点此添加
				span.icon-pencil.pl-2