extends structure/_layout.pug
block content
	.register-container.flex.flex-col.items-center.w-full
		h2.text-grey-dark.m-4 登记您的个人信息,以方便我们联系您
		input.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(placeholder='请输入姓名' class='focus:text-grey-dark w-2/5 focus:outline-none')
		input.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(placeholder='请输入电话' class='focus:text-grey-dark w-2/5 focus:outline-none')
		input.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(placeholder='请输入电子邮箱' class='focus:text-grey-dark w-2/5 focus:outline-none')
		select.p-2.mx-4.bg-grey.shadow-inner.text-grey-darker.h-12.text-lg.m-2(class='focus:text-grey-dark w-2/5 focus:outline-none')
			option 请选择您的身份
			option(value='sales') 4S店销售
			option(value='sales') 个人车主
		a.flex.justify-center.bg-blue.px-8.items-center.mt-6.h-12.text-white.rounded.shadow.no-underline(href='add.html')
			span.icon-user-follow.pr-2
			h4 注册
		
			
			