doctype html
html(lang="en")

head
	meta(charset="utf-8")
	title Pug Site
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css")
	link(rel="stylesheet" href="styles/style.processed.css")

body.bg-grey-light
	include _header.pug
	.main-container.flex-grow.h-full.flex.items-center
		block content
	include _footer.pug