.site-header {
	height:7rem;
	display:flex;
	width:100%;
	justify-content:center;
}

.site-title-container{
	font-family: 'Kanit', sans-serif;
	font-size:7rem; 
	position: relative; 
	line-height:7rem;
	.site-title{
		
	  background: -webkit-linear-gradient(#67E3E3, #1E74E3);
		transform:translateX(-50%) translateY(1px);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
		position:absolute;
		left:0px;
		top:0px;
}

.site-title-shadow{
	
	transform:translateX(-49.5%) translateY(2px);
	position:absolute;
	left:0px;
	top:0px;
	
}
}