@import url("https://fonts.googleapis.com/css?family=Kanit:800|Pacifico|Caveat");
.site-header {
  height: 7rem;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: center;
  justify-content: center;
}

.site-title-container {
  font-family: 'Kanit', sans-serif;
  font-size: 7rem;
  position: relative;
  line-height: 7rem;
}

.site-title-container .site-title {
  background: -webkit-linear-gradient(#67E3E3, #1E74E3);
  transform: translateX(-50%) translateY(1px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
}

.site-title-container .site-title-shadow {
  transform: translateX(-49.5%) translateY(2px);
  position: absolute;
  left: 0px;
  top: 0px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.submit {
  transition: all .5s;
}

.site-footer {
  background: #E9E9E9;
  padding: 1rem 0;
  font-family: 'Caveat', cursive;
}

img {
  object-fit: cover;
}

.car-card-img {
  position: relative;
}

.car-card-img .tag {
  font-family: 'Caveat', cursive;
  position: absolute;
  top: 0;
  right: 0;
}

.icon-arrow-right {
  -ms-flex-order: 1;
  order: 1;
}