@import 'header.scss';
@import url('https://fonts.googleapis.com/css?family=Kanit:800|Pacifico|Caveat');

html, body {
  height: 100%;
}
body {
  margin: 0 auto;
	width:100%;
  display: flex;
  flex-direction: column;
}
.submit{
	transition:all .5s;
}

.site-footer {
  background: #E9E9E9;
  padding: 1rem 0;
	// font-family: 'Pacifico', cursive;
	font-family: 'Caveat', cursive;
}

img{
	object-fit: cover;
}
.car-card-img{
	position:relative;
	.tag{
		font-family: 'Caveat', cursive;
		position:absolute;
		top:0;
		right:0;
	}
	
}

.icon-arrow-right{
	order:1;
}

.filter-tag{
}


